{{>header}}

<div class="exercise-status">
    <div class="start-over"><button>Start Over</button></div>
    <h2>{{training.name}}</h2>
    <div class="progress">
        <span class="progress-percent">0%</span>
        <svg class="progress-meter" version="1.1" x="0px" y="0px">
            <path id='p' fill="none"
                  stroke-dashoffset="-260"
                  stroke-dasharray="282 282"
                  stroke-width="8"
                  d="M45,4C22.392,4,4,22.393,4,45c0,22.608,18.392,41,41,41s41-18.392,41-41S67.608,4,45,4z"/>
         </svg>
    </div>
    <div class="exercise-overview">
        <a href="/dash">Go back to dashboard</a>
    </div>
</div>

<main class="exercise" data-exercise-id="{{this.exercise.id}}">
    <ul>
    {{#each questions}}
        <li class="exercise-question" data-question-id="{{this.id}}">
            <p>{{this.text}}</p>

            <ul class="question-answers">
                {{#each this.answer.values}}
                <li data-answer-id="{{id}}" data-is-correct="{{isCorrect}}" class="question-answer">
                    <p class="answer-text">{{text}}</p>
                    <span class="question-answer-explanation explanation-hidden">{{explanation}}</span>
                </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
    <ul>
</main>

<script src="/scripts/headroom.min.js"></script>
<script async type="text/javascript" src="scripts/exercise.js"></script>
{{>footer}}