{{> header }}

<main>
    <ul class="courses">
    {{#courses}}
        <li class="clear">
            <div class="g-wide--2 g-wide--1">
                <h4>{{name}} {{#unless hasPurchased}}<a class="btn--buy" href="/buy/{{id}}">Purchase</a>{{/unless}} {{#if hasPurchased}}<span class="purchased">Purchased</span>{{/if}}</h4>
                <div class="description">
                    {{description}}
                </div>
                <div class="company-bio">
                    {{company.name}} <br/>
                    {{company.bio}} <br />
                </div>
            </div>
            <div class="g-wide--2 g-wide--1">
                <ul class="outline">
                {{#categories}}
                    <li>
                        {{name}}
                    </li>
                {{/categories}}
                </ul>
            </div>
        </li>
    {{/courses}}
    </ul>
</main>

{{> footer }}
