{{> header }}

<main>
    <ul class="courses">
    {{#courses}}
        <li class="clear">
            <div class="g-wide--2 g-wide--1">
                <h4>{{name}} <a class="btn--buy" href="/buy/{{id}}">Purchase</a></h4>
                <div class="description">
                    {{description}}
                </div>
                <div class="company-bio">
                    {{company.name}} <br/>
                    {{company.bio}} <br />
                </div>
            </div>
            <div class="g-wide--2 g-wide--1">
                <ul class="outline">
                {{#categories}}
                    <li>
                        {{name}}
                        <ul class="outline-categories">
                            {{#categories}}
                                <li>{{name}}</li>
                            {{/categories}}
                        </ul>
                    </li>
                {{/categories}}
                </ul>
            </div>
        </li>
    {{/courses}}
    </ul>
</main>

{{> footer }}
